<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>{% block title %}{{ options.site_name }} - BT_Share{% end %}</title>
<meta name="keywords" content="Bittorent magnet free share" />
<meta name="description" content="{% block desc %}{{ options.site_name }} - bt resource download {% end %}" />
<link rel="stylesheet" href="{{static_url('css/bootstrap/bootstrap.css')}}" type="text/css" />
<link rel="stylesheet" href="{{static_url('css/common.css')}}" type="text/css" />
{% block head %}{% end %}
</head>
<body id="codesign">
{% block body %}{% end %}
</body>
{% block js-script %}{% end %}
{% if options.ga_account %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ options.ga_account }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% end %}
</html>
