{% extends base.html %}

{% block head %}
{% end %}

{% block body %}

{% block body-top %}

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a href="#" class="brand">BT-Share</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#">首页</a></li>
        </ul>
        <div class="navbar-text pull-right">
          <form id="search-form" method="GET" action="/search">
            <input type="text" class="input-medium search-query">
            <button type="submit" class="btn">搜索</button>
          </form>
        </div>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

{% end %}

{% block body-content %}

<div class="container">
  <div class="row-fluid">
    <div class="span2">
      {% block category %}{% end %}
    </div>
    <div class="span10">
      {% block list %}{% end %}
    </div>
  </div>
</div>

{% end %}

{% end %}
