{% extends base.html %}

{% block head %}
{% end %}

{% block body %}

{% block body-top %}

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
        <span class="icon-bar"></span>
      </a>
      <a href="/" class="brand">BT-Share</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="/"><i class="icon-white icon-home"></i> Home</a></li>
        </ul>
        <ul class="nav pull-right">
          <li class="divider-vertical"></li>
          {% if current_user %}
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ current_user['name'] }}<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="">
                <a href="/auth/logout?next={{ url_escape(request.uri) }}">{{ _("Sign out") }}</a>
              </li>
            </ul>
          </li>

          {% else %}
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Sign in<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class=""><a href="/auth/login?next={{ url_escape(request.uri) }}">Google outh2.0</a></li>
              <li><a href="#">sina</a></li>
              <li><a href="#">douban</a></li>
            </ul>
          </li>

          {% end %}

        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

{% end %}

{% block body-content %}

<div class="container">
  <div class="page-header">
    <div class="navbar-text pull-right">
      <form id="search-form" method="GET" action="/search">
        <input type="text" class="input-medium search-query">
        <button type="submit" class="btn">搜索</button>
      </form>
    </div>

    <h1><small class="">It's Your web</small></h1>
  </div>


  <div class="row-fluid">
    <div class="span2">
      {% block category %}{% end %}
    </div>
    <div class="span10">
      {% block list %}{% end %}
    </div>
  </div>
</div>

{% end %}

{% end %}
