{% extends front.html %}

{% block title %}
{% if query.get("q") %}{{ options.site_name }} - {{ query.get("q") }} - BT_Share
{% elif query.get("t") %}{{ options.site_name }} - {{ query.get("t") }} - BT_Share
{% elif query.get("creator") %}{{ options.site_name }} - {{ email2name(query.get("creator")) }} - BT_Share
{% else %}{{ options.site_name }} - BT_Share{% end %}
{% end %}

{% block head %}
<link rel="alternate" type="application/atom+xml" href="?feed=rss" />
<link rel="stylesheet" href="{{static_url('css/index.css')}}" type="text/css" />
{% end %}

{% block category %}
<ul class="">
  <li class=""></li>
</ul>
{% end %}

{% block list %}
<ul class="">
  {% for seed in seeds %}
    <li class=""><a href="{{ seed['url'] }}">{{ seed['name'] }}</a></li>
  {% end %}
</ul>
{% end %}

{% block foot %}
<script type="text/javascript" src="{{ static_url('js/lib/require.js') }}" data-main="{{ static_url('js/index') }}"></script>
{% end %}
