{% extends front.html %}

{% block title %}
{% if query.get("q") %}{{ options.site_name }} - {{ query.get("q") }} - Your Web
{% else %}{{ options.site_name }} - Your Web{% end %}
{% end %}

{% block head %}
<link rel="alternate" type="application/atom+xml" href="?feed=rss" />
<link rel="stylesheet" href="{{static_url('css/tmp/index.less.css')}}" type="text/css" />
{% end %}


{% block body-content %}
<div class="container">
  <div class="row-fluid">
    <div class="span3">
      {% block category %}{% end %}
    </div>
    {% if page['total'] == 0 %}
    <div class="offset2">
      <div class="alert mt20">{{ no_result }}</div>
    </div>
    {% else %}
    <div class="span9 result-list">
      {% block list %}{% end %}
    </div>
    <div class="pagination">{% raw modules.pagination(page,request.uri) %}</div>
    {% end %}

  </div>
</div>
{% end %}


{% block category %}
<ul class="subnav subnav-fixed nav nav-list">
  <li><a tabindex="-1" href="/"><i class="icon-chevron-right"></i>全部</a></li>

  <!-- <li class="dropdown-submenu"> -->
  <!--   <a tabindex="-1" href="#"><i class="icon-chevron-right"></i>年代</a> -->
  <!--   <ul class="dropdown-menu"> -->

  <!--     <li><a href="/category/cat_age" tabindex="-1">不限</a></li> -->

      <!-- <li><a href="/category/year_2013-class_tv" tabindex="-1">2013</a></li> -->

      <!-- <li><a href="/category/year_20s-class_tv" tabindex="-1">20年代</a></li> -->
    <!-- </ul> -->
  <!-- </li> -->

<!--   <li class="dropdown-submenu"> -->
<!--     <a tabindex="-1" href="#"><i class="icon-chevron-right"></i>影片类别</a> -->
<!--     <ul class="dropdown-menu"> -->

<!--       <li><a href="/category/genre_%E6%AD%A6%E4%BE%A0-class_tv" tabindex="-1">武侠</a></li> -->

<!--       <li><a href="/category/genre_%E8%88%9E%E5%8F%B0%E8%89%BA%E6%9C%AF-class_tv" tabindex="-1">舞台</a></li> -->

<!--       <li><a href="/category/genre_%E9%AC%BC%E6%80%AA-class_tv" tabindex="-1">鬼怪</a></li> -->

<!--       <li><a href="/category/genre_%E7%81%BE%E9%9A%BE-class_tv" tabindex="-1">灾难</a></li> -->

<!--       <li><a href="/category/genre_%E8%8D%92%E8%AF%9E-class_tv" tabindex="-1">荒诞</a></li> -->

<!--     </ul> -->
<!--   </li> -->
</ul>
{% end %}

{% block list %}
<ul class="unstyled">
  {% for seed in seeds %}
  <li class=""><a href="/detail/{{ seed['_id'] }}">{{ seed['name'] }}</a></li>
  {% end %}
</ul>
{% end %}

{% block js-script %}
<script type="text/javascript" src="{{ static_url('js/lib/require.js') }}" data-main="{{ static_url('js/index') }}"></script>
{% end %}
